<h1>お問い合わせ</h1>
<h3>お問い合わせ詳細</h3>
<div class="tweet">
  <p><%= @tweet.name %></p>
  <p><%= @tweet.about %></p>
  <p><%= @tweet.created_at %></p>
  
</div>

<%= link_to "お問い合わせ一覧に戻る", tweets_path %>
<%= link_to "編集する", edit_tweet_path(@tweet.id) %>