<h1>(ブログ投稿)</h1>
<h3>ブログ一覧</h3>
<%= form_for @report do |f| %>
<%= form_with(model: @report, local: true) do |form| %>

  <div class="title">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
  <div class="about">
    <%= form.label :about %>
    <%= form.text_field :about %>
  </div>

<div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  
  
      <div class="time">
      <%= form.label :start_time %>
      <%= form.datetime_select :start_time %>
    </div>
  
    
  
  
   
    <%= f.submit "投稿する" %>
  <% end %>

 
<% end %>

<%= link_to "一覧に戻る", reports_path %>